@using Auto_Manager_Hub.Models.Models
@model List<DriveType>


<a class="btn btn-primary mb-3" asp-controller="DriveType" asp-action="Upsert">
    <i class="bi bi-file-plus-fill"></i> New Drive Type
</a>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Drive Type ID</th>
            <th>Drive Type Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.DriveTypeId</td>
                <td>@item.DType</td>
                <td>
                    <a class="btn btn-primary mr-2" asp-controller="DriveType" asp-action="Upsert" asp-route-ID="@item.DriveTypeId">Edit</a>
                    <a class="btn btn-primary btn-danger" asp-controller="DriveType" asp-action="Remove" asp-route-ID="@item.DriveTypeId">Remove</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a class="btn btn-primary" asp-controller="Home" asp-action="Index">Back To Home</a>
