@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        <b>
            Streamline your vehicle management effortlessly with our user-friendly platform. From tracking maintenance schedules 
        to optimizing vehicle performance, we've got you covered. Stay organized, informed, and in control with our intuitive interface.
            Let's drive efficiency together!
        </b>
    </p>
</div>
