@using Auto_Manager_Hub.Models.Models
@model List<Body> 

<h1>Bodies</h1>

<a class="btn btn-primary mb-3" asp-controller="Body" asp-action="Upsert">
    <i class="bi bi-file-plus-fill"></i> New Body
</a>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Body ID</th>
            <th>Body Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.BodyId</td>
                <td>@item.BodyName</td>
                <td>
                    <a class="btn btn-primary mr-2" asp-controller="Body" asp-action="Upsert" asp-route-ID="@item.BodyId">Edit</a>
                    <a class="btn btn-primary btn-danger" asp-controller="Body" asp-action="Remove" asp-route-ID="@item.BodyId">Remove</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a class="btn btn-primary" asp-controller="Home" asp-action="Index">Back To Home</a>
