@using Auto_Manager_Hub.Models.Models
@model List<FuelType>


<h2>Fuel Types</h2>

<a class="btn btn-primary mb-3" asp-controller="FuelType" asp-action="Upsert">
    <i class="bi bi-file-plus-fill"></i>New Fuel Type
</a>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Fuel Type ID</th>
            <th>Fuel Type Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FuelTypeId</td>
                <td>@item.FuelTypeName</td>
                <td>
                    <a class="btn btn-primary mr-2" asp-controller="FuelType" asp-action="Upsert" asp-route-ID="@item.FuelTypeId">Edit</a>
                    <a class="btn btn-primary btn-danger" asp-controller="FuelType" asp-action="Remove" asp-route-ID="@item.FuelTypeId">Remove</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a class="btn btn-primary" asp-controller="Home" asp-action="Index">Back To Home</a>
